.Backdrop {
    position: fixed;
    top: -300px;
    left: -300px;
    width: 300%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@media(max-width: 900px){
    .Backdrop{
        height: 115%;
    }
  }