.arrow {
	position: absolute;
	top: 50%;
	width: 3vmin;
	height: 3vmin;
	background: transparent;
	border-top: 1vmin solid black;
	border-right: 1vmin solid black;
	box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    transform: rotate(-45deg);
    cursor: pointer;
}

.arrow:hover {
    border-color: rgb(218, 0, 87);
    box-shadow: 0.5vmin -0.5vmin 0 black;
}

.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-60%) rotate(45deg);
    width: 200%;
    height: 200%;
}