.Container {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 6;
    background-color: white;
    width: 400px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
} 