.Container {
    width: 100%;
    text-align: center;
}

form input{
    background-color: transparent;
    margin: 0 10px;
    font: inherit;
    animation-name: autofill;
    width: 20%;
    color: rgba(245, 245, 245, 0.85)
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

button{
    background-color: transparent;
    color: #E72B5D;
    border: 1px solid #E72B5D;
    padding: 2px 10px;
    outline: none;
    font-weight: bold;
    font-size: 24px;
    font:inherit;
    transition: .3s ease;
    cursor: pointer;
    margin: 0 5px;
    letter-spacing: 1px;
    height: 30px;
}

button:hover{
    background-color: rgba(245, 245, 245, 0.85);
}

.userLogged{
    display: flex;
}

.userLogged p{
    color:rgba(245, 245, 245, 0.85);
    margin: 2px 10px 0 0;
}

@keyframes autofill {
    to {
        color: rgba(245, 245, 245, 0.85);
        background: inherit;
    }
}

@media(max-width: 900px){
form{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
form input{
    width: 96%;
    margin: 0 auto;
}
}