.Container{
    width: 400px;
}

p {
    margin: 10px 0
}

.Players{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.Bojo{
    display: flex;
    justify-content: flex-end;
    width: 200px;
}

.Maciek{
    display: flex;
    justify-content: flex-start;
    width: 200px;
}

.NameAndPhoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Name{
    font-size: 30px;
    margin: 0 auto;
    width: 85px;

}
.Stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.Stats p{
margin: 0;
font-size: 20px;
}